<html>
  <head>
    <title>
      Random Posts
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/superhero/bootstrap.min.css">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/">Home</a>
      </div>
    </div>
    <center>
      <h1>
	Create a random post!
      </h1>

<div class="container-fluid">
<div class="row">
  <center>
      <br>
      <a href = "/post"><input type="submit" class="btn btn-success" name="submit" value="Submit"></a>
  </center>
 
<img src=http://38.media.tumblr.com/af30a031c0208f91c89bce6815322656/tumblr_nexewe1aQX1snhxmdo1_1280.png><img src=http://33.media.tumblr.com/f442c72072456a9a6d03b371da4a8c61/tumblr_nexexw2DmW1tf5tzvo1_500.jpg><br><p><a href="http://quotes-4u.tumblr.com"><span style="color: #0000cd;"><a href="http://quotes-4u.tumblr.com/">http://quotes-4u.tumblr.com/</a></span></a></p>