<html>
  <head>
    <title>
      Random Posts
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/superhero/bootstrap.min.css">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/">Home</a>
      </div>
    </div>
    <center>
      <h1>
	Create a random post!
      </h1>

<div class="container-fluid">
<div class="row">
  <center>
      <br>
      <a href = "/post"><input type="submit" class="btn btn-success" name="submit" value="Post a Zombie Post"></a>
  </center>
 
<br>
<br>

                <center><div class = 'col-lg-8 col-lg-offset-2 panel panel-default'>
                <div class='panel-heading'>
                <h3 class='panel-title'> 
                </h3>
                </div>
                <div class='panel-body'>
                <img src=http://33.media.tumblr.com/d1b5d4321e229de4b0757518cb8cd226/tumblr_nexnaqm1PE1rv17eso1_1280.jpg><br><p>looks like i have to go now. i&#8217;ll reblog all your wonderful edits when i&#8217;m in class.</p></div></div></center>
                <center><div class = 'col-lg-8 col-lg-offset-2 panel panel-default'>
                <div class='panel-heading'>
                <h3 class='panel-title'> I don't believe in friendships 
                </h3>
                </div>
                <div class='panel-body'>
                <img src=http://33.media.tumblr.com/088862d683f9c43ef83b2384e1589783/tumblr_nexnbu5eOi1rv17eso1_1280.jpg><br><p>looks like i have to go now. i&#8217;ll reblog all your wonderful edits when i&#8217;m in class.</p></div></div></center>

                <center><div class = 'col-lg-8 col-lg-offset-2 panel panel-default'>
                <div class='panel-heading'>
                <h3 class='panel-title'> 
                </h3>
                </div>
                <div class='panel-body'>
                <img src=http://38.media.tumblr.com/bec26993c31d708e766f6292a17a36b7/tumblr_nexczqx9jE1rygq9ro1_1280.jpg></div></div></center>